@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);
html {
  background: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
html div,
body div {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
div {
  box-sizing: border-box;
}
#app {
  width: 420px;
  height: 768px;
  overflow: hidden;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}
.backface-visibile {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
h1 {
  background-color: #fff;
  font-size: 70px;
  text-align: center;
  font-weight: 300;
}
.bottom-image {
  background-size: cover;
  background-position: 50% 50%;
}
div.bold {
  font-weight: 700;
}
body .fa-surface {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
